
.font16 {
  font-size: 16px !important;
  line-height: 28px !important;
}

.font18 {
  font-size: 18px !important;
}

.app-color-1 {
  color: $app-color-1 !important;
}

.ml-n100 {
  margin-left: -100px;
}

.bg-gray-100 {
  background-color: $gray-100 !important;
}

.gray-400 {
  color: $gray-400 !important;
}

.border-top-color-1 {
  border-top: 6px solid $app-color-1 !important;
}

.border-bottom-color-1 {
  border-bottom: 6px solid $app-color-1 !important;
}

