
.font16 {
  font-size: 16px !important;
  line-height: 28px !important;
}
.font18 {
  font-size: 18px !important;
}


.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}


.app-color-1 {
  color: $app-color-1 !important;
}

.ml-n100 {
  margin-left: -100px;
}

.mt-n20 {
  margin-top: -20px;
}

.mb-n20 {
  margin-bottom: -20px;
}

.mb-n64 {
  margin-bottom: -64px;
}

.mb-n24 {
  margin-bottom: -24px;
}

.mb-n10 {
  margin-bottom: -10px;
}


.mb-8 {
  margin-bottom: 8px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mb-48 {
  margin-bottom: 48px !important;
}
.mb-56 {
  margin-bottom: 56px !important;
}
.mb-64 {
  margin-bottom: 64px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

@media (min-width: 768px) {
  .mb-md-32 {
    margin-bottom: 32px !important;
  }
  .mb-md-60 {
    margin-bottom: 60px !important;
  }
  .pt-md-60 {
    padding-top: 60px !important;
  }
  .pb-md-60 {
    padding-bottom: 60px !important;
  }
  .mb-md-80 {
    margin-bottom: 80px !important;
  }
  .mb-md-112 {
     margin-bottom: 112px !important;
   }
}

.bg-gray-100 {
  background-color: $gray-100 !important;
}

.gray-400 {
  color: $gray-400 !important;
}

.gray-700 {
  color: $gray-700 !important;
  a & {
    &:hover {
      color: $gray-700 !important;
    }
  }
}

.border-top-color-1 {
  border-top: 8px solid $app-color-1 !important;
}

.border-black-1 {
  border: 1px solid $gray-700;
}

.border-bottom-color-1 {
  border-bottom: 8px solid $app-color-1 !important;
}

.text-decoration-none {
  text-decoration: none !important;
}
