.swiper-button-next,
.swiper-button-prev {
    &::after {
        display: none;
    }
    background: none;
    i {
        color: $app-color-1 !important;
        font-size: 24px;
    }
}


.swiper-gallery-flow {
    position: relative;

    .swiper-wrapper {
        -ms-flex-align: start;
        align-items: start;
    }

    .swiper-slide:not(.swiper-slide-active) {
        text-align: center;
        img {
            width: 80%;
            @media (min-width: 576px) {
                width: 70%;
            }
            @media (min-width: 768px) {
                width: 60%;
            }
            opacity: .3;
            border-color: transparent;
        }
        .desc {
            opacity: 0;
        }
    }

    .swiper-slide {
        text-align: center;
        height: auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: auto 0;

        img {
            width: 80%;
            @media (min-width: 576px) {
                width: 70%;
            }
            @media (min-width: 768px) {
                width: 140%;
            }
            @media (min-width: 992px) {
                width: 130%;
            }
            @media (min-width: 1200px) {
                width: 120%;
            }
            @media (min-width: 1400px) {
                width: 110%;
            }

            max-width: none;
            transition: opacity ease .3s, width ease-out .3s;
            transform-origin: center;
            will-change: transition;
        }
    }

    .swiper-nav {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;

        .swiper-button-prev {
            left: -40px;
            margin-top: -32px;
            @media (min-width: 768px) {
                left: -40px;
            }
            @media (min-width: 992px) {
                left: -50px;
            }
        }
        .swiper-button-next {
            right: -40px;
            margin-top: -32px;
            @media (min-width: 768px) {
                right: -40px;
            }
            @media (min-width: 992px) {
                right: -50px;
            }
        }
    }
}

.swiper-pagination {
    position: static;
    .swiper-pagination-current {
        font-weight: 600;
    }
}
