.swiper-button-next,
.swiper-button-prev {
    background: none;
    width: 24px;
    height: 24px;
    i {
        background: $app-color-1 !important;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: white;
        text-align: center;
        font-size: 12px;
        padding-top: 5px;
    }
}

.swiper-button-next {
    i {
        padding-left: 2px;
    }
}

.swiper-button-prev {
    i {
        padding-right: 1px;
    }
}
